.more-info-heading{
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
  padding-top: 2rem;
  margin-bottom: 0;
  font-size: 55px;
  color: #0a0d0e;
}

.school-info {
  font-family: "Saira Condensed", sans-serif;
  font-size: 24px;
  background-color: #f2c0c0;
  width: 40rem;
  height: 40rem;
  margin: auto;
  border-radius: 1rem;
  padding-left: 3rem;
  margin-top: 10px;
  margin-bottom: 2rem;
  border-bottom: 4px solid #103b79;;
}

.school-info:hover {
  transform: scale(1.05);
  box-shadow: 4px 6px #103b79;
  transition: all 0.3s ease;
  transform: translateX(-10px) translateY(-10px);
  
}


.school-mrt-wrapper {
  display: flex;
  margin-left: 10px;
}

.school-mrt-desc {
  text-transform: capitalize;
  text-align-last: left;
  padding-left: 0.65rem;
}

school-bus-wrapper {
  display: flex;
  margin-left: 10px;
}

.school-bus-desc {
  text-transform: capitalize;
  text-align-last: left;
  padding-left:0.1rem;
}

.fa-bus-icon{
  width: 3rem;
  font-size: 25px;
  color: rgb(21, 78, 80);
}


.email-address{
  position: relative;
  font-size: 20px;
  color: black;
  font-family: "Saira Condensed", sans-serif;
  margin-left: 10px;

}

.school-tele{
  position: relative;
  font-size: 20px;
  color: black;
  font-family: "Saira Condensed", sans-serif;
  margin-left: 1px;
}

.cca-div {
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: justify;
}

.cca-category {
  color: #da277d;
  background-color: #f3e0eaaf;
  border-radius: 5px;
  border-bottom: 2px solid #dd69a1;
  width: 100%;
  text-align: center;
}

.cca-name {
  margin-top: 1rem;
  padding-left: 10px;
}