.posts-container {
	font-family: "Saira Condensed", sans-serif;
	font-size: 24px;
	background-color: #f2c0c0;
	width: 50rem;
	height: 10rem;
	margin: auto;
	border-radius: 1rem;
	padding-left: 3rem;
	margin-bottom: 2rem;
	border-bottom: 4px solid #103b79;
	;
}

.posts-title {
	color: #3b8185;
	padding-top: 1rem;
	margin-bottom: 12px;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 30px;
	padding-left: 5px;
}