@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.post-page{
	background-color:  #9bd8df;
	font-family: 'Quicksand', serif;
}
.post-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.post-header{
	display: flex;
	margin: 1rem;
	margin-left: 5rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    align-items: center;
    font-weight: 600;
	justify-content: left;
}
.post-user-img{
	width: 32px;
	border-radius: 50%;
	overflow: "hidden";
}

.post-user {
	margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.post-section{
	background-color: #ffd9d9;
	margin-left: 5rem;
	margin-right: 5rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
	padding: 1.8rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.post-img{
	width: 100%;
	overflow: "hidden";
	border-radius: 0.4rem;
}
.post-title{
	text-align: center;
}
.post-query {
	padding: 2.2rem;
	line-height: 2.3rem;
	padding-top: 1rem;
	font-size: 1.3rem;
}
.comment-form-textarea {
	height: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	width:87%;
	font-size:larger;
	border-radius: 0.8rem;
	background-color: #ffd9d9;
	resize: none;
  }

.comment-button {
font-size: 16px;
padding: 8px 16px;
background: rgb(59, 130, 246);
border-radius: 8px;
color: white;
margin-left: 5rem;
margin-bottom: 1rem;
}

.comment-button:hover:enabled {
cursor: pointer;
background: rgb(37, 99, 235);
}

.comment-button:disabled {
opacity: 0.7;
cursor: default;
}

.comment-cancel-button {
margin-left: 10px;
}

@media screen and (max-width: 1300px) {
	.post-container{
		width: auto;
	}
	.comment-form-textarea {
		width: 83%;
	}

}
@media screen and (max-width: 1000px) {

	.post-header,
	.post-section,
	.comment-button{
		margin-left: 2rem;
		margin-right: 2rem;
		font-size: 0.95rem;
	}
	.comment-button {
		font-size: 12px;
		padding: 5px 12px;
		margin-bottom: 1rem;
		
		}

	.comment-cancel-button {
		margin-left: -1.5rem;
		}

	.comment-form-textarea {
		width: 89%;
		margin-left: 2rem;
		margin-right: 2rem;
		}
	.post-query{
		padding: 2rem;
		line-height: 2rem;
		padding-top: 0.8rem;
		font-size: 1rem;
	}
	.post-section{
		padding: 0.8rem;
	}

}

@media screen and (max-width: 700px) {
	.post-query{
		padding: 0.5rem;
		line-height: 1.5rem;
		padding-top: 0.5rem;
		font-size: 0.8rem;
	}
	.post-section{
		padding: 1rem;
	}
	.comment-form-textarea {
		margin-left: 1.1rem;
		margin-right: 1.1rem;
	}

	.post-title{
		font-size: 1.2rem;
	}
	.post-header,
	.post-section,
	.comment-button{
		margin-left: 1.1rem;
		margin-right: 1.1rem;
		font-size: 0.85rem;
	}
}

@media screen and (max-width: 500px) {
	.post-section{
		padding: 0.8rem;
	}
	.comment-form-textarea {
		margin-left: 0.3rem;
		margin-right: 0.3rem;
		font-size: 0.8rem;
	}
	.post-title{
		font-size: 1.1rem;
	}
	.post-header,
	.post-section,
	.comment-button{
		margin-left: 0.3rem;
		margin-right: 0.3rem;
		font-size: 0.8rem;
	}

}