.search-container{
	display: flex;
}

.search input {
	height: 100%;
	padding-right: 24px;
    padding-left: 60px;
	margin-top: 5px;
    background: #fff;
    background: transparent;
    font-size: 16px;
	border: 1px solid transparent;
  }
  
.search-icon {
	width: 16px;
	height: 16px;
	color: #9e9ea7;
	position: absolute;
	left: 10px;
  }
  
input:focus {
	outline: none;
  }
.search-icon svg {
	font-size: 32px;
  }
  
.data-result {
	border-radius: 5px;
    border: 1px black solid;
    font-weight: 600;
    background-color: white;
    font-size: 110%;
	margin-top: 1rem;  
	overflow: hidden;
	overflow-y: auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
.data-result::-webkit-scrollbar {
	display: none;
  }
  
.data-result .data-item {
	width: 100%;
	height: 50px;
	display: flex;
	color: black;
  }

a{
	text-decoration: none;
}
.data-result p:hover {
	background-color: rgba(121, 116, 116, 0.123);
	
  }

#clearBtn {
	cursor: pointer;
  } 